body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

/*LOADING SCREEN*/
.loadingContainer {
    height: 100%;
    width: 100%;
    background-color: #fff2deb0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingLogo {
    width: 20vw;
    max-width: 140px;
}

/*LOGIN/SIGNUP BOX*/

.contentBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

    position: absolute;
    top: 22vh;
}

.loginBox,
.signupBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*LOGO*/

.logo {
    margin-bottom: 30px;
    max-width: 300px;
}
@media (orientation: portrait) {
    .logo {
        width: 55vw;
    }
}
@media (orientation: landscape) {
    .logo {
        width: 27vw;
    }
}

/*INPUT BOXES*/

input {
    font-family: BPreplayBold;
    border: 3.5px solid #bac1db;
    border-radius: 10px;
    color: #8b96bd;
    width: 30vw;
    max-width: 280px;
    padding: 10px 10px;
    text-align: center;
    transition: opacity 0.4s ease;
    margin-bottom: 15px;
}
@media (orientation: portrait) {
    input {
        width: 55vw;
    }
}

input:hover::placeholder {
    opacity: 0.3;
    cursor: pointer;
}

input::placeholder {
    transition: opacity 0.4s ease;
    font-family: BPreplayBold;
    opacity: 0.6;
}

input:hover {
    cursor: pointer;
}
input:focus {
    outline: none;
}

/*LOGIN BUTTON*/

button {
    font-family: BPreplayBold;
    border: 3.5px solid #f2a3bd;
    color: #f2a3bd;
    background-color: #ffffff;
    border-radius: 10px;
    width: auto;
    padding: 10px 10px;
    text-align: center;
    margin-bottom: 10px;
    transition: background-color 0.4s ease;
}

button:hover {
    background-color: #ffc3d750;
    cursor: pointer;
}

/*ERROR/SUCCESS MESSAGE*/

.errorMessage {
    font-family: BPreplayBold;
    color: #f48091;
}

.successMessage {
    font-family: BPreplayBold;
    color: #a3cc98;
}

/*OPTION LINKS*/

.options {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.link {
    font-family: BPreplay;
    font-size: 0.8em;
    color: #d7aa84;
    transition: opacity 0.4s ease;
    text-decoration: underline;
}

.link:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* STARS */

.star {
    position: absolute;
    width: 5vw;
}
@media (max-width: 330px) {
    .star {
        display: none;
    }
}

.star1 {
    max-width: 28px;
    top: 28vh;
    right: 12vw;
}

.star2 {
    max-width: 26px;
    bottom: 42vh;
    left: 8vw;
}

.star3 {
    max-width: 23px;
    right: 8vw;
    top: 33vh;
}

/* ANIMATIONS */

.rotate-center {
    -webkit-animation: rotate-center 12s linear infinite forwards;
    animation: rotate-center 12s linear infinite forwards;
}
@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotate-center2 {
    -webkit-animation: rotate-center2 8s linear infinite both;
    animation: rotate-center2 8s linear infinite both;
}
@-webkit-keyframes rotate-center2 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-center2 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotate-center-reverse {
    -webkit-animation: rotate-center-reverse 8s linear infinite reverse both;
    animation: rotate-center-reverse 8s linear infinite reverse both;
}
@-webkit-keyframes rotate-center-reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-center-reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
